# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# IDE
.idea/
.vscode/
*.iml

# Android
android/local.properties
android/**/gradle-wrapper.jar
android/.gradle/
android/captures/
android/**/GeneratedPluginRegistrant.java
android/key.properties
**/*.jks
**/*.keystore

# Misc
*.log
*.class
.DS_Store
create.txt
app-release.apk
generate_icons.ps1
